@import "../../../../../../style/configs/color";

@import "./Mobile.css";
@import "./Desktop.css";
ul {
  list-style: none;
  li {
    display: inline-block;
  }
}
.journey {
  .container {
    label {
      + div {
        &::before {
          border-bottom: 2px solid #e5e5e5!important;
        }
        &::after {
          border-bottom: 2px solid $brand-color;
        }
      }
    }
    > div {
      > div {
        > div {
          label.Mui-focused {
            color: $brand-color;

          }
        }
      }
    }
  }
}