@import "../../../../../../style/configs/color";
@media screen and (max-width: 600px) {
  .journey {
    .container {
      label {
        font-size: xx-small;
      }
    }
  }
  .servicesWrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    .subtitle {
      font-size: 24px;
      line-height: 24px;
      font-weight: normal;
      margin-bottom: 0px;
      span {
        width: 152px;
        display: inline-block;
        border: 3pt solid #a24a87;
        border-radius: 16px;
      }
    }
    .servicesGrid {
      margin-top: 25px;
      margin-bottom: 15px;
      .icon {
        text-align: center;
      }
      .servicesRow {
        margin-top: 20px;
        h3 {
          margin-top: 20px;
          font-size: 20px;
          font-weight: 600;
          color: $brand-color;
          line-height: 18px;
          text-align: center;
        }
        p {
          color: $body-color;
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
  }
  .creditCard {
    background-color: $bg-color;
    .subtitle {
      margin-top: 30px;
      font-size: 28px;
      line-height: 28px;
      font-weight: normal;
      span {
        width: 129px;
        border: 3pt solid #a24a87;
        border-radius: 16px;
        display: block;
        margin-top: 20px;
      }
    }
    .discoverHow {
      font-size: 18px;
      font-weight: 600;
      color: $brand-color;
      margin-top: 25px;
      padding-bottom: 30px;
    }
    .creditC {
      img {
        width: auto;
      }
    }
  }
  .noSchoolWarning {
      margin-top: 1%;
      text-align: center;
  }
}

.Partners {
  margin-top: 30px;
  .subtitle {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 0px;
    span {
      width: 91px;
      display: inline-block;
      border: 3pt solid #a24a87;
      border-radius: 16px;
      display: block;
      margin-top: 18px;
    }
  }
  .partnerSlider {
    margin-top: 30px;
    margin-bottom: 50px;
    button {
      &:first-child {
        background-image: url('../../../../../../assets/images/leftArrow.png');
        background-repeat: no-repeat;
        left: -15px;
      }
      &:last-child {
        background-image: url('../../../../../../assets/images/rightArrow.png');
        background-repeat: no-repeat;
        right: -20px;
      }
      &:before {
        display: none;
      }
    }
  }
}

.appSection {
  padding-top: 30px;
  background-image: linear-gradient(to right, #9e3669, #b13442);
  background-color: #9e3669;
  .subtitle {
    color: white;
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    text-align: center;
  }
  ul {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 30px;
    li {
      display: inline-block;
      padding-right: 0;
    }
  }
}

.journey {
  margin-top: 30px;
  .subtitle {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 0px;
    span {
      width: 60px;
      display: inline-block;
      border: 3pt solid #a24a87;
      border-radius: 16px;
      margin-left: 30px;
    }
  }
  .container {
    margin-top: 30px;
    >div {
      >div {
        &:nth-child(even) {
          >div {
            padding-right: 0;
          }
        }
        >div {
          width: 100%;
          padding-right: 20px;
        }
      }
    }
    input {
      &:before {
        border-bottom: 2pt solid #e5e5e5!important;
      }
    }
    .button {
      margin-top: 20px;
      height: 45px;
      width: 201px;
      text-transform: none;
      font-size: 18px;
      border-radius: 35px;
      background-color: $btn-bg-color;
      margin-bottom: 30px;
      &:hover {
        background-color: $btn--hover-bg-color;
      }
    }
  }
}
