@media only screen and (min-width: 768px)  {
  .globalHeader {
    ul {
      list-style: none;
      /*text-align: center;*/
      li {
        color: #a24a87;
        display: inline-block;
        margin-right: 47px;
        font-size: 22px;
        &:last-child {
          margin-right: 0; 
        }
        .button {
          margin-left: 74px;
          height: 49px;
          width: 161px;
          text-transform: none;
          font-size: 18px;
          border-radius: 22px;
          border: 2pt solid #a24a87;
          color: #a24a87;

        }
      }
    }
    .headerWithText {
      padding-top: 203px; 
    }
    
    .loanHeaderAccessButton {
      display: flex;
      justify-content: center;
      margin-top: 50%;
    }
    .title {
      font-size: 50px;
      max-width: 538px;
      line-height: 56px;
      font-weight: normal;
      margin-bottom: 0px;
      span {
        width: 152px;
        display: block;
        margin-top: 20px;
        border: 3pt solid #a24a87;
        border-radius: 16px;
      }
    }
    .subHeader {
      font-size: 18px;
      max-width: 538px;
      margin-top: 19px;
      color: #6c6c6c;
    }
    
  }
    .bannerForm {
      position: relative;
      max-width: 538px;
      margin-top: 48px;
      div {
        width: 100%;
      }
      input {
        height: 80px;
        background: white;
        border-radius: 50px;
        padding: 0px;
        padding-left: 25px;
        &:before {
          display: none!important;
        }
      }
      button {
        position: absolute;
        /*right: 6px;*/
        top: 20px;
        height: 70px;
        border-radius: 35px;
        padding: 0 24px;
        font-size: 20px;
        background-color: #a24a87;
        &:hover {
          background-color: #b24a87;
        }
      span {
        text-transform: none;
        }
      }
    }
  }
