@import "../../../../../style/configs/color";
@media only screen and (max-width: 768px)  {
  .globalHeader {
    nav {
      text-align: left;
      float: none;
      padding: 20px 10px;
    }
    ul {
      list-style: none;
      text-align: left;
      li {
        color: #a24a87;
        display: block!important;
        font-size: 18px;
        margin-bottom: 15px;
        .button {
          height: 49px;
          width: 161px;
          text-transform: none;
          font-size: 18px;
          border-radius: 22px;
          border: 2pt solid #a24a87;
          color: #a24a87;
          display: block;

        }
      }
    }
    .headerWithText {
      padding-top: 20px; 
    }
    .title {
      font-size: 28px;
      line-height: 28px;
      font-weight: normal;
      margin-bottom: 0px;
      margin-top: 30px;
      span {
        width: 152px;
        display: block;
        margin-top: 20px;
        border: 3pt solid #a24a87;
        border-radius: 16px;
      }
    }
    .subHeader {
      font-size: 18px;
      margin-top: 19px;
      color: #6c6c6c;
    }
    
  }
  .bannerForm {
    position: relative;
    margin-top: 20px;
    div {
      width: 100%;
    }
    input {
      height: 60px;
      background: white;
      border-radius: 50px;
      padding: 0px;
      padding-left: 25px;
      &:before {
        display: none!important;
      }
    }
    button {
      position: absolute;
      /*right: 6px;*/
      top: 18px;
      height: 55px;
      border-radius: 35px;
      padding: 0 12px;
      font-size: 14px;
      background-color: #a24a87;
      &:hover {
        background-color: #b24a87;
      }
    span {
      text-transform: none;
    }
    }
  }
  .list {
    /*width: 80%;*/
  }
  }
